.main #content_inf{
	width: 1000px;
	/*border: 1px solid black;*/
	height: 600px;
	float: right;
	margin-right: 100px;
	margin-top: 50px;
	background-image: url(../../images/student/inf.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 15%;
}

#content_inf .inside_word{
	/*border: 1px solid black;*/
	width: 800px;
	margin-top: 113px;
	margin-left: 100px; 
}
h2{
	margin-top: 40px;
	margin-left: 700px; 

}
#content_inf .footer{
	/*border:1px solid black;*/
	width: 230px;
	margin-left: 360px;
	background-color: #f1f1f1;
	/*text-decoration: underline;*/
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
}
#content_inf .footer:hover{
	text-decoration: underline;
}