    li{
        	list-style: none;
        }
		a{
			text-decoration: none;
			color: black;
		}
        body{
    
            background-image: url(../../images/student/stu_home.jpg);
            background-size: 100% 4000px;
            background-repeat: no-repeat;
            font-family: 方正姚体;
        }


   /*    .header li {
            float: left;
        }

       .logo{
        position: absolute;
        left: 200px;
        top: 0px;
        width: 1px;
        height: 1px;
    }
        #logoImg {
            width: 3px;
            height: 10px;
            display: inline;
        }
*/
    .nav{
    height: 30px;
    width: 100%;
}

.nav input{
   float: right;
    font-family: 方正姚体;
    font-size: 1em;
    /*position: absolute;*/
    appearance:none;
        /*-web-kit-appearance:none;*/
        moz-appearance: none;
        font-family:"方正姚体";
        font-size:15px;
        border-radius:10px;
        border-width: 2px;
        background-color: rgba(244,244,244,0.2);
        color: black;
        padding: 5px;
} 

     #userChoose {

            width: 1000px;
            height: 2px;
            margin: 3px auto;
           
        }

        .user_title {
            list-style: none;
            line-height: 20px;
      
        }

        .user_title li {
            float: left;
            text-decoration:none;
            display:block; 
            padding-right: 30px;
            text-align: center;
            border-right: 1px solid #ccc;
            margin-left: 130px;
        }

     .user_title li a:hover{
    background-color:#FFFFFF;
     
    } 


        #content {
            width: 1000px;
            margin: 50px auto;
           
        }

        #content h3 {
            font-weight: normal;
            margin-left: 20px;
        }
         .direction1 {
            width: 100px;
            height: 100px;
            border-top: 1px solid #ccc;
            margin: 5px auto;
        }
         .direction1 p{
            text-indent: 2em;
            margin: 100px 0 0 50px;
            padding-left: 20px;
        }

        .direction {
            width: 1000px;
            height: 300px;
            border-top: 1px solid #ccc;
            margin: 5px auto;
        }

        .direction img {
            width: 300px;
            height: 200px;
            margin: 30px 5px;
            float: left;
        }
        .direction p{
            text-indent: 2em;
            margin: 100px 0 0 50px;
            padding-left: 20px;
        }
