*{
	margin: 0;
	padding: 0;
}
    li{
        	list-style: none;
        }
body{
    
            background-image: url(bg/stu_home.jpg);
            background-size: 100% 1500px;
            background-repeat: no-repeat;
            font-family: 方正姚体;
        }
 a{
			text-decoration: none;
			color: black;
		}


 /*#logo {
            width: 1300px;
            height: 120px;
        }

        #logoImg {
            width: 500px;
        height: 120px;
            display: inline;
        }*/
	#myself{
		margin-top: 30px;
		width: 100%;
		height: 35px;
		
	}
	   

	   .nav{
    height: 30px;
    width: 100%;
}

.nav input{
    float: right;
    font-family: 方正姚体;
    font-size: 1em;
    color:rgb(0,0,0);
    background-color: rgb(255,255,255); 
} 
	#userChoose {

            width: 1000px;
            height: 2px;
            margin: 3px auto;
           
        }

        .user_title {
            list-style: none;
            line-height: 20px;
      
        }

        .user_title li {
            float: left;
            padding-right: 30px;
            text-align: center;
            border-right: 1px solid #ccc;
            margin-left: 130px;
        }
 #content {
            width: 1000px;
            margin: 50px auto;
           
        }

        #content h3 {
            font-weight: normal;
            margin-top: 40px;
            margin-left: 410px;
        }
         
			.direction p{
            text-indent: 2em;
            margin: 100px 0 0 50px;
            padding-left: 20px;
        }
        .direction {
            width: 1000px;
            height: 500px;
            border-top: 1px solid #ccc;
            margin: 3px auto;
        }

 
        .direction p{
            text-indent: 2em;
            margin: 100px 0 0 50px;
             margin-top: 60px;
            margin-left: 50px;
        }
	.footer{

width: 100%;
height: 50px;
left:450px;
position: fixed;
bottom: 0;
}
    
}