<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>密码修改 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/information.css">
</head>
<body>
	<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	    <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/home') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">	

	</div>
	<div class="nav">

			<label>&nbsp;&nbsp;&nbsp;> 原密码:&nbsp;&nbsp;&nbsp;<input type="password" name="password" placeholder="请输入原密码">
			<br><br>
			<label>&nbsp;&nbsp;&nbsp;> 新密码:&nbsp;&nbsp;&nbsp;<input type="password" name="password" placeholder="请输入新密码">
			<br><br>
			<label>> 确认密码:&nbsp;&nbsp;&nbsp;<input type="password" name="password" placeholder="请确认密码">
			<br>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" value="确定修改" name="" >
		</form>
	</div>
	

</body>
</html>