<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 


    <title>成绩查询 -@ACAT</title>
      <link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/stu_grade.css">
</head>

<body>
<div class="logo">
         <!-- <img src="<?php  echo base_url() .'style/index/' ?>images/login/logo.png"> -->
    </div>
    <div class="nav">
        <input type="submit" value="注销" onclick="location.href='<?php echo site_url('index') ?>'"">    
    </div>



    <div id="userChoose">
        <ul class="user_title">
            <li>
                <a href="<?php  echo  site_url() .'/index/student_test/inf'  ?>">开始答题</a>
            </li>
            <li>
                <a href="<?php  echo  site_url() .'/index/home/stu_home'  ?>">返回主页</a>
            </li>
            <li>
                <a href="<?php  echo  site_url() .'/index/student_info'  ?>">个人信息</a>
            </li>
            <li>
                <a href="">关于我们</a>
            </li>
        </ul>
    </div>


    <div id="content">
      <div class="grade">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学号为<?php $this->load->library('session');
                                $inf=$this->session->userdata('user');
                                echo $inf; ?>同学，你好！<br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你的最终成绩为<?php $this->load->library('session');
                                $inf=$this->session->userdata('grade');
                                echo $inf; ?>分，<br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中基础题得分<?php $this->load->library('session');
                                $inf=$this->session->userdata('b_grade');
                                echo $inf; ?>分，<br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方向题得分<?php $this->load->library('session');
                                $inf=$this->session->userdata('d_grade');
                                echo $inf; ?>分，<br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢参与本次测试，请耐心等待面试通知。</p>
        </div>
     
    </div>

</body>

</html>