<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>学生主页 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/home.css">
</head>
<body>
   <div class = "main1">
   		<!-- <div class="top"></div> -->
   		<div class="main">
		    <div class="nav">
		        <img src="<?php  echo base_url() .'style/index/' ?>images/student/acat1.png"><em>ACAT</em><span><em>计算机应用协会</em></span>
		        <!-- <i class="fas fa-sign-out-alt"></i> -->
		        <button type="submit" onclick="location.href='<?php echo site_url('index') ?>'">注销</button>
		    </div>
			<div id="userChoose_left">
		        <ul class="user_title">
		            <li>
		                <a href="<?php  echo  site_url() .'/index/student_test/inf'  ?>">开始答题</a>
		            </li> 
		            <li>
		                <a href="<?php  echo  site_url() .'/index/student_grade'  ?>">查看成绩</a>
		            </li>
		            <li>
		                <a href="<?php  echo  site_url() .'/index/student_info'  ?>">个人信息</a>
		            </li>
		            <li>
		                <a href="#">关于我们</a>
		            </li> 
		        </ul>
		        <div class="image">
		        	<!-- <p>快注意！！</p> -->
		        	<img src="<?php  echo base_url() .'style/index/' ?>images/student/xxx.png" class="point">
		        	<img src="<?php  echo base_url() .'style/index/' ?>images/student/a2.jpg" class="img_a2">
		        	<img src="<?php  echo base_url() .'style/index/' ?>images/student/xxx1.png" class="point1">
		        </div>
		    </div>
			<div id="content">
			    <ul class="nav_right">
			        <li class="direction">
			             <img src="<?php  echo base_url() .'style/index/' ?>images/student/logo.png">
			            <p><span><em>前端</em></span>&nbsp;即网站前台部分，运行在PC端，移动端等浏览器上展现给用户浏览的网页。功能再完善的系统没有一个好看的外表想必用的人也不会很多。随着互联网技术的发展，HTML5，CSS3，前端框架的应用， 跨平台响应式网页设计能够适应各种屏幕分辨率，完美的动效设计。加入我们，你不仅仅可以在浏览器这个画板上描绘你的想象，你还可以借助node.js来搭建属于自己的后台。想成为全栈攻城狮吗？那还不来看看。
			            </p>
			        </li>
			        <li class="direction">
			            <img src="<?php  echo base_url() .'style/index/' ?>images/student/logo.png">
			            <p><span><em>后台</em></span>&nbsp;开发(PHP+JAVA)作为web网站建设的核心，如果说前端是用户肉眼可见的美丽衣衫，后台就是美丽背后一系列的设计选材，以及为用户提供拥有后所享有的售后保障。在这里，你可以从零到有，一步步接触当今先进的开发技术，学习并驯服这神奇的技能，你甚至能见证自己作为项目leader为网站建设贡献出中流砥柱的力量。技术不是我们的全部，良好的学习氛围、优秀的学习习惯、浓厚的学习兴趣才是从事一切开发工作的灵魂。如果你热爱web开发，喜欢编程，想成为掌控全局的代码魔法师，更想在不知不觉间斩获年薪20w+的offer，那就快加入我们吧。</p>
			        </li>
			        <li class="direction">
			            <img src="<?php  echo base_url() .'style/index/' ?>images/student/logo.png">
			            <p><span><em>服务端</em></span>&nbsp;开发组致力于Linux平台下的应用软件开发,服务器端的配置等.与后台开发组相比,我们直接与TCP/IP打交道,关注`socket' 与 `socket'之间的I/O.同时负责将后台开发组的代码上线..emmmmm,可以说又是半个运维了..如果你渴望揭秘一个网站是如何拥有属于自己的域名，又是如何被部署上线，且更注重研究底层实现的话，服务端开发组绝对是你的不二之选。</p>
			        </li>
			        <li class="direction">
			            <img src="<?php  echo base_url() .'style/index/' ?>images/student/logo.png">
			            <p><span><em>机器学习</em></span>&nbsp;AI时代的浪潮已经到来，人工智能不再是高高在上的金杯，我们机器学习组致力于运用最先进的技术返璞归解决实际的需求、参加各类人工智能比赛。</p>
			        </li>
			    </ul>
			</div>
		</div>
		<!-- <div class="bottom"></div> -->
	</div>
</body>
</html>