<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>测试须知 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/home.css">
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/inf.css">
</head>
<body>

	<div>
		<div class="main">
			    <div class="nav">
			        <img src="<?php  echo base_url() .'style/index/' ?>images/student/acat1.png"><em>ACAT</em><span><em>计算机应用协会</em></span>
			        <!-- <i class="fas fa-sign-out-alt"></i> -->
			         <button type="submit" onclick="location.href='<?php echo site_url('index') ?>'">注销</button>
			    </div>
			    <div id="userChoose_left">
			        <ul class="user_title">
			            <li>
			                 <a href="<?php  echo  site_url() .'/index/home/stu_home'  ?>">返回主页</a>
			            </li> 
			            <li>
			               <a href="<?php  echo  site_url() .'/index/student_grade'  ?>">查看成绩</a>
			            </li>
			            <li>
			               <a href="<?php  echo  site_url() .'/index/student_info'  ?>">个人信息</a>
			            </li>
			            <li>
			                <a href="#">关于我们</a>
			            </li> 
			        </ul>
			        <div class="image">
			        	<!-- <p>快注意！！</p> -->
			        	<img src="<?php  echo base_url() .'style/index/' ?>images/student/xxx.png" class="point">
			        	<img src="<?php  echo base_url() .'style/index/' ?>images/student/a2.jpg" class="img_a2">
			        	<img src="<?php  echo base_url() .'style/index/' ?>images/student/xxx1.png" class="point1">
			        </div>
		    </div>
			<div id="content_inf">

		        <div class="inside_word">  
		            <h2>测试须知</h2>
		            <p>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.试卷组成类型为基础题+方向题，<font color="red">方向一经选定，试卷加载完成后，不可发生变动，如有误操作请联系管理员。</font>请在充分了解后慎重选择作答方向。<br><br>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.笔试时间为<font color="red">60分钟</font>，请确保你有充分的时间完成作答，<font color="red">笔试开始不可返回，否则成绩为零</font>，倒计时结束自动提交答卷。<br><br>
		           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            3.概念题可使用搜索引擎搜索答案，<font color="red">但不可复制粘贴，</font>需根据自身理解总结后作答<br><br>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            4.编程题如不会编写代码，<font color="red">可写清思路，</font>考官酌情给分。<br><br>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <font color="red">5.请本着对自身负责的态度认真作答，笔试成绩仅做参考，但面试现场会随机抽取题目提问，如有思路混乱或不知所云的情况出现，将直接影响面试最终结果。</font><br><br>
		             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            6.如果出现加载不出试卷的情况，请尝试多次刷新。<br><br>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            7.预祝大家在笔试过程中能够体会到自己向往方向所带来的技术乐趣。<br><br></p>
		        </div>
			<div class="footer">
          		<a href = "<?php  echo  site_url() .'/index/student_test/test'  ?>">我已了解测试须知，确认答卷。</a>
   		 	</div>
       
        </div>
		</div>
	</div>

</body>
</html>