<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>正在答题 -@ACAT </title>
    <link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/home.css">
    <link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/test.css">
</head>
<body>

    <div>
        <div class="main">
                <div class="nav">
                    <img src="<?php  echo base_url() .'style/index/' ?>images/student/acat1.png"><em>ACAT</em><span><em>计算机应用协会</em></span>
                    <!-- <i class="fas fa-sign-out-alt"></i> -->
                     <button type="submit" onclick="location.href='<?php echo site_url('index') ?>'">注销</button>
                </div>
              
           <form method="POST" action="">
        
                <p>
                <font color="red">【警告】</font>答题期间请<font color="red">不要刷新或关闭页面！</font>如因误操作退出请联系管理员。
                </p>
                <h4>剩余作答时间</h4>
          <div class="time">
                <input type="text" value="60" class="input3">:<input type="text" value="00" class = "input4">
         </div>
                 <input type="submit" value="确认交卷" class="input1">
           
                 <div class="subject">
                  ====================================================================================
                     <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   学号为<?php $this->load->library('session');$inf=$this->session->userdata('user');echo $inf; ?> 的同学，你好！
                以下为你抽到的试题，请仔细审题，注意时间，认真作答！</h3>
                    <?php foreach($test as $paper): ?>
                     ====================================================================================
                     <br>
                    <b>· <?php echo $ans=str_replace("\n","<br>",$paper[0]['sub_que']);?></b>
                        <br>
                  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     <textarea style="width:998px; height: 200px " ></textarea>
                     
                     <?php endforeach ?>
                     <br>
                     ====================================================================================
                     <br>
                      
        </div>
        
                    
               
            </form>

        </div>
    </div>
    <script type="text/javascript">
        
         var min = document.getElementsByTagName('input')[0];
         var sed = document.getElementsByTagName('input')[1];
         var minutes = 60,seconds = 0;
         var timer = setInterval(function() {
         
           
            
            if(seconds < 10){
                sed.value = '0' + seconds;
            }else{
                sed.value = seconds;
            }
            if(minutes < 10){
                min.value = '0' + minutes;
            }else{
                min.value = minutes;
            }
            if(minutes == 0 &&seconds == 0){
                clearInterval(timer);
               // minutes--;
                //seconds=60;
                //clearInterval(timer);
            }
             if(seconds == 0){
                seconds=60;
                minutes--;

              
            }
            seconds--;
         },1000);


        



    </script>

</body>
</html>