<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>正在答题 -@ACAT </title>
    <link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/home.css">
    <link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/student/test.css">
   <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

    <div>
        <div class="main">
                <div class="nav">
                    <img src="<?php  echo base_url() .'style/index/' ?>images/student/acat1.png"><em>ACAT</em><span><em>计算机应用协会</em></span>
                    <!-- <i class="fas fa-sign-out-alt"></i> -->
                     <button type="submit" onclick="location.href='<?php echo site_url('index') ?>'">注销</button>
                </div>
                   
                <p>
                <font color="red">【警告】</font>答题期间请<font color="red">不要刷新或关闭页面！</font>如因误操作退出请联系管理员。
                </p>
                <h4>剩余作答时间</h4>
          <div class="time">
                <input type="text" value="60" class="input3">:<input type="text" value="00" class = "input4">
         </div>
                 <input type="submit" value="确认交卷" class="input1" id = "input">
           
                 <div class="subject">
                  ====================================================================================
                     <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   学号为<?php $this->load->library('session');$inf=$this->session->userdata('user');echo $inf; ?> 的同学，你好！
                以下为你抽到的试题，请仔细审题，注意时间，认真作答！</h3>
                    <?php foreach($test as $paper): ?>
                     ====================================================================================
                     <br>
                    <b>· <?php echo $ans=str_replace("\n","<br>",$paper[0]['sub_que']);?></b>
                        <br>
                  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     <textarea style="width:998px; height: 200px " name = "text"></textarea>
                     
                     <?php endforeach ?>
                     <br>
                     ====================================================================================
                     <br>
                      
        </div>
        
                    
               
          

        </div>
    </div>
    <script type="text/javascript">
        
         // var btn = document.getElementById('input');
         var min = document.getElementsByTagName('input')[0];
         var sed = document.getElementsByTagName('input')[1];
         var minutes = 60,seconds = 0;
         var timer = setInterval(function() {
         
           
            
            if(seconds < 10){
                sed.value = '0' + seconds;
            }else{
                sed.value = seconds;
            }
            if(minutes < 10){
                min.value = '0' + minutes;
            }else{
                min.value = minutes;
            }
            if(minutes == 10 && seconds == 0){
                alert("距离结束时间还剩十分钟，请确保没有漏题并尽快完成题目！");
            }
            if(minutes == 0 &&seconds == 0){
                clearInterval(timer);
                 if(data=="Success"){
                    alert("答案已提交，请耐心等待成绩。");
                
                   window.location.href="<?php echo site_url('index/home/stu_home') ?>";}
                   else alret("提交失败！");
               // minutes--;
                //seconds=60;
                //clearInterval(timer);
            }
             if(seconds == 0){
                seconds=60;
                minutes--;

              
            }
            seconds--;
         },1000);

         $(function(){
            var arr =[];
            var a=$('textarea[name=text]');
            $('#input').click(function(){
                for(var i =0;i<a.length;i++){
                    var obj = {};
                    var key=i;
                    obj[key]=a[i].value;
                    arr.push(obj);
                }
                var json = JSON.stringify(arr);
                $.post("<?php echo site_url('index/student_test/stu_ans') ?>",json,function(data,status){
                    if(data=="Success"){
                    alert("答案已提交，请耐心等待成绩。");

                   window.location.href="<?php echo site_url('index/home/stu_home') ?>";}
                   else alret("提交失败！");
                });
            });
         });

        //  var text = document.getElementById('text');
        //  document.getElementById('input').addEventListener('click',inputform);
        //  // text.addEventListener('click',textform);
        //  var arr = [];
         
        // function inputform(){
        //     for(var i = 0;i<15;i++){   
        //         var obj = {};
        //         var key = i;
        //         obj[key]= text.value; 
        //         arr.push(obj);
        //     }
       
        //     var json = JSON.stringify(arr);
        //     console.log(json);
          
        //     alert("111");
        //     var xhr = new XMLHttpRequest();
        //     xhr.open('POST',"<?php echo site_url('index/student_test/stu_ans')?>",true);
        //     xhr.onload= function() {
        //         if(status == 200){

        //         }
        //     }
        //     xhr.send(json);
        //  }


        



    </script>

</body>
</html>