<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="home.css">
	<link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>

	<div>
		<div class="main">
			    <div class="nav">
			        <img src="acat1.png"><em>ACAT</em><span><em>计算机应用协会</em></span>
			        <!-- <i class="fas fa-sign-out-alt"></i> -->
			        <button type="submit">注销</button>
			    </div>
			    <div id="userChoose_left">
			        <ul class="user_title">
			            <li>
			                <a href="home.html">返回主页</a>
			            </li> 
			            <li>
			                <a href="grade.html">查看成绩</a>
			            </li>
			            <li>
			                <a href="mod.html">个人信息</a>
			            </li>
			            <li>
			                <a href="#">关于我们</a>
			            </li> 
			        </ul>
			        <div class="image">
			        	<!-- <p>快注意！！</p> -->
			        	<img src="xxx.png" class="point">
			        	<img src="a2.jpg" class="img_a2">
			        	<img src="xxx1.png" class="point1">
			        </div>
		    </div>
		     <div class="direction1">    
         
				

        	</div>
		    <form method="POST" action="">
		    	<div class="input">
			    	<span style="display: block;font-size: 20px;"><strong>你的答案:</strong></span>
			    	 <textarea id='answer' style="height: 300px;width: 800px;resize: none;font-size: 20px;"></textarea>
			    	<input type="submit" name="提交" class="input1">
		    	</div>
		    </form>

		</div>
	</div>

</body>
</html>