body{
	background-image: url(../images/home/home.png);
	background-size: 100% 800px;
	background-repeat: repeat;
}
.logo{
		position: absolute;
		left: 565px;
		top: 10px;
		width: 100px;
		height: 30px;
	}
	.logo img{
		width: 100px;
		height: 100px;
	}
.nav{
	position: absolute;
	top: 150px;
	left: 250px;
}
.nav1{
	height: 30px;
	width: 100%;
}

.nav1 input{
	float: right;
	font-family: 方正姚体;
	font-size: 1em;
	color:rgb(0,0,0);
	background-color: rgb(255,255,255); 
} 
.content{
	position: absolute;
	top: 40px;
	height: 1500px;
	width: 700px;
	opacity:0.7;
	border:3px rgb(100,25,29) solid ;
	border-radius: 10px;
	border-style:dashed;
}


.footer{

width: 100%;
height: 80px;
left:1000px;
position: fixed;
bottom: 0;
}