body{
	background-image: url(../images/home/home.png);
	background-size: 100% 800px;
	background-repeat: repeat;
}
.logo{
		position: absolute;
		left: 660px;
		top: 10px;
		width: 100px;
		height: 30px;
	}
	.logo img{
		width: 150px;
		height: 150px;
	}
.nav{
	position: absolute;
	top: 150px;
	left: 350px;
	font-size: 20px;
	font-family: 方正姚体;
}
.nav1{
	height: 30px;
	width: 100%;
}

.nav1 input{
	float: right;
	font-family: 方正姚体;
	font-size: 1.3em;
	/*position: absolute;*/
	appearance:none;
		/*-web-kit-appearance:none;*/
		moz-appearance: none;
		font-family:"方正姚体";
		font-size:20px;
		border-radius:10px;
		border-width: 2px;
		background-color: rgba(244,244,244,0.2);
		color: black;
		padding: 5px;
} 
.content{
	position: absolute;
	top: 110px;
	width: 800px;
	opacity:0.7;
	background-color: #FFFFFF;
	border:3px rgb(100,25,29) solid ;
	border-radius: 10px;
	border-style:dashed;
}

.content table{
	left: 100px;


}


.footer{

width: 100%;
height: 80px;
left:1200px;
position: fixed;
bottom: 1;
}
.footer input{
	appearance:none;
	
		moz-appearance: none;
		width:100px;
		height:30px;
		font-family:"方正姚体";
		font-size:18px;
		border-radius:10px;
		border-width: 2px;
		background-color: rgba(244,244,244,0.2);
		color: black;
		padding: 5px;


}
.footer button{
	appearance:none;
	
		moz-appearance: none;
		width:100px;
		height:30px;
		font-family:"方正姚体";
		font-size:18px;
		border-radius:10px;
		border-width: 2px;
		background-color: rgba(244,244,244,0.2);
		color: black;
		padding: 5px;


}
