body{
	background-image: url(../images/login/bg.jpg);
	background-size: 100% 800px;
	background-repeat: no-repeat;
}
/*h1{
		margin-top: 100px;
		color: white;
		font-size: 3em;
		font-family:"黑体";
		text-align:center;
	}*/
	h2{
		font-family:"方正姚体";
		text-align:center;
	}
	input{
		text-align: center;
	}
	.logo{
		position: absolute;
		left: 300px;
		top: -30px;
		width: 100px;
		height: 30px;
	}
	.logo img{
		width: 550px;
		height: 300px;
	}
	.nav{
		padding: 10px;
		position: absolute;
		left: 380px;
		top: 200px;
		border: 1px solid grey;
		width: 380px;
		height:300px;
		background-color: rgba(255,251,240,0.5);
		font-family:"方正姚体";
		font-weight: 800;
		text-align: center;
		border-radius: 30px;
	}
	.submit{
		appearance:none;
		-web-kit-appearance:none;
		-moz-appearance: none;
		border-radius:10px;
		border-width: 0px;
		background-color: rgba(0,0,0,0.2);
		color: white;
		padding: 10px;
	}