body{
	background-image: url(../images/home/home.png);
	background-size: 100% 800px;
	background-repeat: no-repeat;
}
.logo{
		position: absolute;
		left: 565px;
		top: 10px;
		width: 100px;
		height: 30px;
	}
	.logo img{
		width: 100px;
		height: 100px;
	}
.nav{
	position: absolute;
	top: 150px;
	left: 320px;
	border:4px rgb(170,138,87) solid ;
	 border-radius:10px;
	border-style:dashed;
}
.nav1{
	height: 30px;
	width: 100%;
}

.nav1 input{
	float: right;
	font-family: 方正姚体;
	font-size: 1em;
	/*position: absolute;*/
	appearance:none;
		/*-web-kit-appearance:none;*/
		moz-appearance: none;
		font-family:"方正姚体";
		font-size:15px;
		border-radius:10px;
		border-width: 2px;
		background-color: rgba(244,244,244,0.2);
		color: black;
		padding: 5px;
} 
.bt{
	position: absolute;
	top: 495px;
	left: 750px;
}
.submit input{
position: absolute;
	top: 375px;
	left :200px;
	appearance:none;
		moz-appearance: none;
		width:70px;
		height:25px;
		font-family:"方正姚体";
		font-size:15px;
		border-radius:10px;
		border-width: 2px;
		background-color: rgba(244,244,244,0.2);
		color: black;
