body{
	background-image: url(../images/home/home.png);
	background-size: 100%,100%;
	background-attachment:scroll;
	
}
.logo{
		position: absolute;
		left: 565px;
		top: 10px;
		width: 100px;
		height: 30px;
	}
	.logo img{
		width: 100px;
		height: 100px;
	}
.nav{
	position: absolute;
	font-size:12px;
	top: 120px;
	left: 100px;
	
}

.nav1{
	height: 30px;
	width: 100%;
	
}

.nav1 input{
	float: right;
	font-family: 方正姚体;
	font-size: 1em;
	color:rgb(0,0,0);
	background-color: rgb(255,255,255); 
} 
.bt{
	position: absolute;
	top: 400px;
	left: 800px;
}
.style {
    margin: 0 auto;
    width: 350px;
    height: 50px;
}

#pagelist ul li 
{
 float:left;
 border:2px solid #C1CDC1; 
 height:20px; 
 font-weight:bold; 
 border-radius:10px;
 line-height:20px; 
 margin:10px 2px; 
 list-style:none;
}

#pagelist ul li a,
.current 
{ background:#C1CDC1; 
	display:block; 
	padding:0px 6px; 
	font-weight:bold;
	border-radius:10px;
}