<head>
	<meta charset="UTF-8">
	<title>选择基础题 -@ACAT</title>
	<script type="text/javascript" src="/CI_test/js/jquery.js"></script>

	




	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/test_d.css">

</head>
<body>
<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/test/test_add_html') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
	<div class="nav">
	
		选择难度:
		<select name="diff">
			<option value ="0">-</option>
			<option value ="1">1</option>
	  		<option value ="2">2</option>
	  		<option value ="3">3</option>
	  		<option value="4">4</option>
	  		<option value="5">5</option>
		</select>
		<div class="submit1">
				<input id="btn1" type="submit" value="查找">
		</div>
	
		<br><br>
	

	<div class = "table">
		<table id="tab1" border="0" width="800" cellspacing="0">
		<thead>
		<tr>
			<th>试题号</th>
			<th>题目</th>
			<th>答案</th>
			<th>难度</th>
			<th>选择</th>
			</tr>
		</thead>
			<tbody>
	
			<?php  foreach($sub as $item): ?>
			<tr>
				<td  ><p class="id"><?php echo $item['sub_id']  ?></p></td>
				<td><?php echo $que=str_replace("\n","<br>",$item['sub_que']); ?></td>
				<td><?php echo $que=str_replace("\n","<br>",$item['sub_ans']); ?></td>
				<td><?php echo $item['sub_diff'] ?></td>
				<td><!-- <a href="<?php echo site_url('index/test_page/b_page'); ?>" style="color: #8B636C"  class="add">添加</a> -->
				   <button class="add" style="color: #8B636C" >添加</button>
				</td> 
			</tr>
			<?php endforeach;?>
				<!-- onClick="return confirm('确定添加?');" -->
				<script type="text/javascript">
				      var id = document.querySelectorAll(".id");
				      var add = document.querySelectorAll(".add");
				      console.log(id);
			           for(var i=0;i<add.length;i++){
			           	  console.log(id[i].value);
			              (function(j){
			                   add[j].onclick=function(){
			                   	  if(this.innerHTML=="已添加")  return;
			                   	  loadXMLDoc(id[j].innerHTML,this);

			                   }
			              })(i)
			           }
					function loadXMLDoc(value,obj)

						{
							var xmlhttp;
							if (window.XMLHttpRequest)
							{
								xmlhttp=new XMLHttpRequest();
							}
							else
							{
								xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
							}
							xmlhttp.onreadystatechange=function()
							{
								if (xmlhttp.readyState==4 && xmlhttp.status==200)
								{
									if(xmlhttp.reponseText=="-1"){
										alert("添加失败");
									}
									else{
										alert("添加成功");
										obj.innerHTML="已添加";
									}
								}
							}
							xmlhttp.open("POST","<?php echo site_url('index/test_page/b_page_ok') ?>",true);
							xmlhttp.send(JSON.stringify({num:value}));
						}
							
							document.getElementById('btn1').addEventListener('click',submit);
							function submit(){
								var xhr = new XMLHttpRequest();
								var value = document.getElementsByTagName('select')[0].onchange = function(){
									return this.options[this.selectedIndex].value;
								}
								xhr.open("GET","<?php echo site_url('index/test/sel_b')?>?value="+value,true);
								xhr.onload = function(){
									if(xhr.status == 200){
										var json = JSON.parse(xhr.reponseText);
										var data = json.sub;
										var output = "";
										var len =4;
										var th = document.getElementsByTagName('th');
										for(var i in data){
											th[0].innerHTML = `${data[i].sub_id}`;
											th[1].innerHTML = `${data[i].sub_que}`;
											th[2].innerHTML = `${data[i].sub_ans}`;
											th[3].innerHTML = `${data[i].sub_diff}`;
										}

									}
								}
								
								

							}

				</script>   
			</tr>
			
		</tbody>
		</table>
		</div>
	
		<br>



</body>
</html>