<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>查看试卷 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/correct.css">
</head>
<body>
	<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/test_page/page') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div>
<div class="nav">
		<div class ="content">
		 <?php  foreach($test as $paper): ?>
         <h3> · &nbsp;<?php echo $que=str_replace("\n","<br>",$paper[0]['sub_que']); ?></h3>
         <img src="<?php  echo base_url()?>sub_image/<?php echo $paper[0]['sub_id'] ?>.jpg "onerror="this.src='<?php  echo base_url()?>sub_image/logo.png'" >
         <br>
        &nbsp;&nbsp;参考答案：<?php echo $que=str_replace("\n","<br>",$paper[0]['sub_ans']); ?> <br>>
        <?php echo "===================================================================================="; ?> <
      <br>
          <?php endforeach;?> 
		</div>
		<br><br><br><br><br><br><br><br><br>
		
</div>
	<br><br><br><br><br><br><br><br><br>
	<br><br>
</body>
</html>