<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>成绩统计 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/grade.css">

</head>
<body>
	<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
     <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/gra_page/page') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
	<div class="nav">
	<form method="get" action="<?php echo site_url('index/gra_sel_page/page') ?>">
	组别:
	<select name="group">
	<option value ="0">-</option>
	  <option value ="1">前端</option>
	  <option value ="2">后台</option>
	  <option value="3">服务端</option>
	  <option value="4">机器学习</option>
	</select>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	专业班级：<input type="text" name="major" style="width:70px;" >
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	姓名：<input type="text" name="name" style="width:70px;">

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div class = "submit">
	<input id="btn1" type="submit" value="查找">
	</div>
	<br><br>
	<div class = "table ">
	<table id="tab1" border="0" width="500" cellspacing="0" >
	<thead>
	<tr>
			<th>学号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>专业班级</th>
			<th>方向</th>
			<th>基础题得分</th>
			<th>方向题得分</th>
			<th>总分</th>
			<th>批阅者</th>
			<th>试卷详情</th>
			</tr>
		</thead>
		<tbody>
		 		<?php  foreach($grades as $item): ?>
		 	<tr>
		 		
				<td><?php echo $item['stu_id'] ?></td>
				<td><?php echo $item['stu_name'] ?></td>
				<td><?php echo $item['stu_sex'] ?></td>
				<td><?php echo $item['stu_major'] ?></td>
				<td><?php echo $item['stu_group'] ?></td>
				<td><?php echo $item['base_grade'] ?></td>
				<td><?php echo $item['dir_grade'] ?></td>
				<td><?php echo $item['grade'] ?></td>
				<td><?php echo $item['correct_id'] ?></td>
				<td><a href="<?php echo site_url('index/show_test').'?'.'id='.$item['stu_id']; ?>" style="color: #8B636C" >查看</a></td>
			</tr>
		<?php endforeach;?>
		</tbody>
		</table>
		</div>
		</form>
	




		<div class = "style">
		<div class = "list">
		  <div id="pagelist">
				<ul>
				<?php echo $this->pagination->create_links();?>
			</ul>
		  </div>
		 </div>
		  
	</div>
	</div>
	

</body>
</html>