<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>考官主页 - @ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/home.css">
</head>
<body>
<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
	<div class="nav">
	
	<br>
	<?php $this->load->library('session');
 		$session_inf['inf']=$this->session->userdata('user');
 		if(empty($session_inf)) success('index','登录信息过期，请重新登录！');
 	?>
	<div  class = "submit">
	    <input type="submit" value="注销" onclick="location.href='<?php echo site_url() ?>'">	
	<p><?php echo $inf; ?>,欢迎您！</p>
	</div>
	</div>
	<div class="content">
		<div class="top-left"><a href="<?php  echo  site_url() .'/index/check'  ?>">批阅试卷</a></div>
		<div class="top-right"><a href="<?php  echo  site_url() .'/index/gra_page/page'  ?>">成绩统计</a></div>
		<div class="middle-left"><a href="<?php  echo  site_url() .'/index/sub_page/page'  ?>">题库管理</a></div>
		<div class="middle-right"><a href="<?php  echo  site_url() .'/index/test_page/page'  ?>">试卷管理</a></div>
		<div class="bottom-left"><a href="<?php  echo  site_url() .'/index/stu_page/page'  ?>">学生管理</a></div>
		<div class="bottom-right"><a href="<?php  echo  site_url() .'/index/information'  ?>">修改密码</a></div>
	</div>
	<br><br>
    <p style="text-align: center;color: black;font-size: 1em;">&copy; ACAT</p>


	
</body>
</html>