<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>考生注册 - @ACAT</title>
    <link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index/' ?>css/regist.css">
</head>
<body>

    <div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/login/logo.png">
    </div>
        <form method="POST" action="<?php echo site_url('index/regist/register') ?>">
    <div class="nav">
        <form class="navForm" method="POST">
            <h2 class="h2">register</h2>
            <br><br>
            <label>姓名：</label>
            <input type="text" name="user_name" placeholder="请输入姓名">
            <br><br>
            <label>学号：</label>
            <input type="text" name="user_id" placeholder="请输入学号">
            <br><br>
            <label>密码：</label>
            <input type="password" name="password" placeholder="请输入密码">
            <br><br>
            <label style="margin-left: -30px;">确认密码：</label>
            <input type="password" name="password1" placeholder="请确认密码">
            <br><br>
          <div class = "submit">
            <input type="submit"  value="完成注册">
            </div>
        </form>

     &nbsp;&nbsp;

       
            <div class="zuce">
            <a href="<?php  echo base_url() .'index'  ?>">已有账号？立即登录</a>
            </div>
        </div>

<footer>Copyright (C)   &nbsp;&nbsp;  [ACAT-2018]  &nbsp;&nbsp;By- Whale -</footer>

   

</body>
</html>