<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生管理 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/student.css">
</head>
<body>
	<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/stu_page/page') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div>
	<div class="nav">

	<form method="get" action="<?php echo site_url('index/stu_sel_page/page') ?>">
	组别:
	<select name="group">
	  <option value ="0">-</option>
	  <option value ="1">PHP</option>
	  <option value ="2">前端</option>
	  <option value="3">JAVA</option>
	  <option value="4">PYTHON</option>
	</select>
	&nbsp;&nbsp;&nbsp;
	性别：
	<select name="sex">
	  <option value ="0">-</option>
	  <option value ="1">男</option>
	  <option value ="2">女</option>
	</select>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	姓名：<input type="text" name="name" style="width:100px;" >
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div class = "submit">
	<input id="btn1" type="submit" value="查找">
</div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	<br><br>
<div class = "table">
	<table id="tab1" border="0" width="500" cellspacing="0" >

		<thead>
		<tr>
			<th>学号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>专业班级</th>
			<th>组别</th>
			<th>最终成绩</th>
			
			<th>修改信息</th>
			<th>删除信息</th>
		</tr>
		</thead>


		<tbody>
			<?php  foreach($stu as $item): ?>
			<tr>
				<td><?php echo $item['stu_id']  ?></td>
				<td><?php echo $item['stu_name'] ?></td>
				<td><?php echo $item['stu_sex'] ?></td>
				<td><?php echo $item['stu_major'] ?></td>
				<td><?php echo $item['stu_group'] ?></td>
				<td><?php echo $item['grade'] ?></td>

				<td><a href="<?php echo site_url('index/student/mod_inf').'?'.'id='.$item['stu_id']; ?>" style="color: #8B636C" >修改</a></td>
			
				<td><a href="<?php echo site_url('index/student/stu_del').'?'.'id='.$item['stu_id']; ?>" style="color: #8B636C" >删除</a></td>
			
			</tr>
		<?php endforeach;?>

		</tbody>
	</table>	
		</form>
		
	</div>	

		<div class = "style">
		<div class = "list">
		  <div id="pagelist">
				<ul>
				<?php echo $this->pagination->create_links();?>
			</ul>
		  </div>
		 </div>
		  
	</div>
	</div>

</body>
</html>