<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改试题 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/sub-mod.css">
</head>
<body>
 <script type="text/javascript" src="../../../ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="../../../ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = UE.getEditor('question',{
toolbars: [
    ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic',
'underline','fontborder', 'backcolor','insertcode', 'fontsize', 'fontfamily',
'justifyleft', 'justifyright','justifycenter', 'simpleupload', 
'insertimage','justifyjustify',
'strikethrough','superscript', 'subscript', 'removeformat',
'formatmatch','autotypeset', 'blockquote', 'pasteplain', '|',
'forecolor', 'backcolor','insertorderedlist', 'insertunorderedlist',
'selectall', 'cleardoc', 'inserttable',  'emotion', 'help']
]
});
        var editor2 = UE.getEditor("answer",{
toolbars: [
    ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic',
'underline','fontborder', 'backcolor','insertcode', 'fontsize', 'fontfamily',
'justifyleft', 'justifyright','justifycenter', 'simpleupload', 
'insertimage','justifyjustify',
'strikethrough','superscript', 'subscript', 'removeformat',
'formatmatch','autotypeset', 'blockquote', 'pasteplain', '|',
'forecolor', 'backcolor','insertorderedlist', 'insertunorderedlist',
'selectall', 'cleardoc', 'inserttable',  'emotion', 'help']
]
});//container为表单的id
    </script>
<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/sub_page/page') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
<form method="POST" action="<?php echo site_url('index/subject/sub_mod') ?>">
<br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<label>&nbsp;&nbsp;&nbsp;试题类型:&nbsp;&nbsp;&nbsp;
			<select name = "sub_type">
			<option value ="1">基础题</option>
	  		<option value ="2">Php</option>
	  		<option value ="3">前端</option>
	  		<option value="4">Java</option>
	  		<option value="5">Python</option>
			</select>
		
			<label>&nbsp;&nbsp;&nbsp;试题难度:&nbsp;&nbsp;&nbsp;
			<select name = "sub_diff">
			<option value ="1">1</option>
	  		<option value ="2">2</option>
	  		<option value ="3">3</option>
	  		<option value="4">4</option>
	  		<option value="5">5</option>
			</select>
			<br><br>
			<div class = "submit">
			<input type="submit" value="确认修改" name="" >
			</div>
		<div class="nav">
		<br>
	<script id="question" name="question" type="text/plain" style="width:800px"> 
  	<?php $this->load->library('session');
                                $inf=$this->session->userdata('que');
                                echo $que=str_replace("\n","<br>",$inf); ?>
	</script>
	<br><br>
	<script id="answer" name="answer" type="text/plain" style="width:800px">
  	<?php $this->load->library('session');
                                $inf=$this->session->userdata('ans');
                                echo $ans=str_replace("\n","<br>",$inf); ?>
	</script>
	<br>
	</div>
	</form>
	
</form>
</body>
</html>