<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加试题 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/sub-add.css">
</head>
<body>
<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	      <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/sub_page/page') ?>'">
	       <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div>
		<form method="POST" action="<?php echo site_url('index/subject/sub_add') ?>">
		<div class="nav">
		<br>
&nbsp;&nbsp;注意：若题目类型为编程题请添加注明，例如“【编程题】输出100以内的水仙花数。”<br><br>
			<label>&nbsp;&nbsp;&nbsp;> 题目:&nbsp;&nbsp;&nbsp;<tr><td><textarea id="t" name="sub_que"cols="49" rows="5"></textarea></td></tr>
			<br><br>
			<label>&nbsp;&nbsp;&nbsp;> 答案:&nbsp;&nbsp;&nbsp;<tr><td><textarea name="sub_ans"cols="49" rows="5"></textarea></td></tr>
			<br><br>
			<label>&nbsp;&nbsp;&nbsp;> 类型:&nbsp;&nbsp;&nbsp;
			<select name = "sub_type">
			<option value ="1">基础题</option>
	  		<option value ="2">Php</option>
	  		<option value ="3">前端</option>
	  		<option value="4">Java</option>
	  		<option value="5">Python</option>
			</select>
			<br><br>
			<label>&nbsp;&nbsp;&nbsp;> 难度:&nbsp;&nbsp;&nbsp;
			<select name = "sub_diff">
			<option value ="1">1</option>
	  		<option value ="2">2</option>
	  		<option value ="3">3</option>
	  		<option value="4">4</option>
	  		<option value="5">5</option>
			</select>
			<br><br>
		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class = "submit">
			<input type="submit" value="确认添加" name="" >
			</div>
		</form>
		<br>
	</div>

</form>

</body>
</html>