<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>题库管理 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/subject.css">
</head>
<body>
		<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/sub_page/page') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 


	<div class="nav">
		

	 <form method="GET"  action="<?php echo site_url('index/sub_sel_page/page') ?>"> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	类型:
	<select name="type">
	<option value ="0">-</option>
	<option value ="1">基础题</option>
	  <option value ="2">PHP</option>
	  <option value ="3">前端</option>
	  <option value="4">Java</option>
	  <option value="5">Python</option>
	</select>
	&nbsp;&nbsp;
	难度:
	<select name="diff">
	<option value ="0">-</option>
	  <option value ="1">1</option>
	  <option value ="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	</select>

	&nbsp;&nbsp;&nbsp;
	<div class = "submit">
	<input id="btn1" type="submit" value="查找">
	</div>
	<div class = "botton">
	<input type="button" value="添加新试题" onclick="location.href='<?php echo site_url('index/subject/sub_add_html') ?>'">
	</div>
	<br><br>
	<div class ="table">
	<table id="tab1" border="0" width="1000" height = "400" cellspacing="0" >
		<thead>
		<tr>
			<th>题号</th>
			<th>类型</th>
			<th>题目</th>
			<th>答案</th>
			<th>难度</th>
			<th>编辑题目</th>
			<th>删除题目</th>
		</tr>	
		</thead>

		<tbody>
		  <?php foreach($sub as $v):?>
        <tr>
            <td><?php echo $v['sub_id'] ?></td>
				<td><?php echo $v['sub_type'] ?></td>
				<td><?php echo $que=str_replace("\n","<br>",$v['sub_que']); ?>
				<br>
					<img src="<?php  echo base_url()?>sub_image/<?php echo $v['sub_id'] ?>.jpg "onerror="this.src='<?php  echo base_url()?>sub_image/logo.png'" ></td>
				<td><?php echo $que=str_replace("\n","<br>",$v['sub_ans']); ?></td>
				<td><?php echo $v['sub_diff'] ?></td>
				<td><a href="<?php echo site_url('index/subject/mod_que').'?'.'id='.$v['sub_id']; ?>" style="color: #8B636C" >编辑</a></td>
			
				<td><a href="<?php echo site_url('index/subject/sub_del').'?'.'id='.$v['sub_id']; ?>" style="color: #8B636C" onClick="return confirm('确定删除?');">删除</a></td>
        </tr>
        <?php endforeach?>
		</tbody>
		</table>
</div>
	</form>
	
<div class = "style">
		<div class = "list">
		  <div id="pagelist">
				<ul>
				<?php echo $this->pagination->create_links();?>
			</ul>
		  </div>
		 </div>
		  
	</div>
</div>	

	
</body>
</html>