<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>选择基础题 -@ACAT</title>
	<script type="text/javascript" src="/CI_test/js/jquery.js"></script>

	




	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/test_d.css">

</head>
<body>
<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/test/test_add_html') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
	<div class="nav">
	
		选择难度:
		<select name="diff"  id = "select">
			<option value ="0">-</option>
			<option value ="1">1</option>
	  		<option value ="2">2</option>
	  		<option value ="3">3</option>
	  		<option value="4">4</option>
	  		<option value="5">5</option>
		</select>
		<div class="submit1">
				<input id="btn1" type="submit" value="查找">
		</div>
	
		<br><br>
	

	<div class = "table">
		<table id="tab1" border="0" width="800" cellspacing="0">
		<thead>
		<tr>
			<th>试题号</th>
			<th>题目</th>
			<th>答案</th>
			<th>难度</th>
			<th>选择</th>
			</tr>
		</thead>
			<tbody id="tbody">
	
			<?php  foreach($sub as $item): ?>
			<tr>
				<td  ><p class="id"><?php echo $item['sub_id']  ?></p></td>
				<td><?php echo $que=str_replace("\n","<br>",$item['sub_que']); ?></td>
				<td><?php echo $que=str_replace("\n","<br>",$item['sub_ans']); ?></td>
				<td><?php echo $item['sub_diff'] ?></td>
				<td><!-- <a href="<?php echo site_url('index/test_page/b_page'); ?>" style="color: #8B636C"  class="add">添加</a> -->
				   <button class="add" style="color: #8B636C" >添加</button>
				</td> 
			</tr>
			<?php endforeach;?>
				<!-- onClick="return confirm('确定添加?');" -->
				
			</tr>
			
		</tbody>
		</table>
		</div>
	
		<br>



</body>
</html>
<script type="text/javascript">

     var select = document.getElementById('select');
     let tbody = document.getElementById("tbody");
      var id = document.querySelectorAll(".id");
      var add = document.querySelectorAll(".add");
			 for(var j=0;j<add.length;j++){
			           	  console.log(id[j].value);
			              (function(k){
			                   add[k].onclick=function(){
			                   	  if(this.innerHTML=="已添加")  return;
			                   	  loadXMLDoc(id[k].innerHTML,this);
			                   	  alert(id[k].innerHTML);

			                   }
			              })(j)
			           }
					function loadXMLDoc(value,obj)

						{
							var xmlhttp;
							if (window.XMLHttpRequest)
							{
								xmlhttp=new XMLHttpRequest();
							}
							else
							{
								xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
							}
							xmlhttp.onreadystatechange=function()
							{
								if (xmlhttp.readyState==4 && xmlhttp.status==200)
								{
									if(xmlhttp.reponseText=="-1"){
										alert("添加失败");
									}
									else{
										alert("添加成功");
										obj.innerHTML="已添加";
									}
								}
							}
							xmlhttp.open("POST","<?php echo site_url('index/test/add_b') ?>",true);
							xmlhttp.send(JSON.stringify({num:value}));
				}
  $("#btn1").click(function(){
  	    tbody.innerHTML="";
		$.post("<?php echo site_url('index/test/sel_b')?>",JSON.stringify({num:select.value}),
		function(data,status){
			let subject = JSON.parse(data).sub;
			console.log(subject);
			for (let i = 0; i <subject.length; i++) {
				var tr = document.createElement("tr");
				var td1 = document.createElement("td");td1.innerHTML=subject[i].sub_id;	
				var td2 = document.createElement("td");td2.innerHTML=subject[i].sub_que;
				var td3 = document.createElement("td");td3.innerHTML=subject[i].sub_ans;
				var td4 = document.createElement("td");td4.innerHTML=subject[i].sub_diff;
				var td5 = document.createElement("td"); 
				var button = document.createElement("button"); 
				button.className="add";
				button.innerHTML="添加";
				button.index=subject[i].sub_id;
				td5.appendChild(button);
				tr.appendChild(td1);
				tr.appendChild(td2);
				tr.appendChild(td3);
				tr.appendChild(td4);
				tr.appendChild(td5);
				tbody.appendChild(tr);
			}
			postId()
		});
	});

   function postId(){
   		var add = document.querySelectorAll(".add");
			 for(var j=0;j<add.length;j++){
			              (function(k){
			                   add[k].onclick=function(){
			                   	  if(this.innerHTML=="已添加")  return;
			                   	   alert(this.index);
			                   	  load(this.index,this);

			                   }
			              })(j)
			           }

   }



                          function load(index,obj)

						{
							var xmlhttp;
							if (window.XMLHttpRequest)
							{
								xmlhttp=new XMLHttpRequest();
							}
							else
							{
								xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
							}
							xmlhttp.onreadystatechange=function()
							{
								if (xmlhttp.readyState==4 && xmlhttp.status==200)
								{
									alert(1);
									if(xmlhttp.reponseText=="-1"){
										alert("添加失败");
									}
									else{
										alert("添加成功");
										obj.innerHTML="已添加";
									}
								}
							}
							xmlhttp.open("POST","<?php echo site_url('index/test/add_b') ?>",true);
							xmlhttp.send(JSON.stringify({num:indexs}));
				}


  
</script>