<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>试卷管理 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/test.css">
</head>
<body>
		<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
      <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/test_page/page') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
	<div class="nav">
		<form method="get" action="<?php echo site_url('index/test_sel_page/page') ?>">
	类型:
	<select name="type">
	<option value ="0">-</option>
	  <option value ="1">前端</option>
	  <option value ="2">后台</option>
	  <option value="3">服务端</option>
	  <option value="4">机器学习</option>
	</select>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div class = "submit">
	<input id="btn1" type="submit" value="查找">
	</div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="botton">
	<input type="button" value="创建新试卷" onclick="location.href='<?php echo site_url('index/test/test_add_html') ?>'"">
	</div>
	<div class="botton2">
	<input type="button" value="我的试卷" onclick="location.href='<?php echo site_url('index/test/my_test') ?>'"">
	</div>
	<br>
<div class = "table">
	<table id="tab1" border="0" width="500" cellspacing="0">
		<thead>
		<tr>
			<th>出题人</th>
			<th>所含题号</th>
			<th>作答人数</th>
			<th>试卷详情</th>
			</tr>
		</thead>
			<tbody>
			<?php foreach($test as $item): ?>
			<tr>
				<td><?php echo $item['create_id'] ?></td>
				<td><?php echo $item['include_id'] ?></td>
				<td><?php echo $item['paper_sum'] ?></td>
			<td><a href="<?php echo site_url('index/test/show_paper').'?'.'id='.$item['paper_id']; ?>" style="color: #8B636C" >查看</a></td>

				
			</tr>
		<?php endforeach;?>
		</tbody>
	</table>
	</div>
		</form>
<div class = "style">
		<div class = "list">
		  <div id="pagelist">
				<ul>
				<?php echo $this->pagination->create_links();?>
			</ul>
		  </div>
		 </div>
		  
	</div>



	</div>
	
</body>
</html>