<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>创建试卷 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/test-add.css">
</head>
<body>
<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
    <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/test') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
<form method="POST" action="<?php echo site_url('index/student/stu_add') ?>">
		<div class="nav">
		<h1>考官您好！欢迎来到出题页，请仔细阅读以下出题规范:</h1>
		<p>1.请选择基础题5道，其中选择题2道，简答题2道，编程题1道</p>
		<p>2.请选择方向题10道，其中选择题至多5道，简答题、编程题请合理分配占比</p>
		<p>3.不可跨域出题，请按照自己的方向选择题目。</p>
		<p>在确保已知晓以上出题规范后，请点击以下按钮按类目添加试题！</p>
		<input type="button" value="选择基础题" onclick="location.href='<?php echo site_url('index/test/test_add_b') ?>'"">
		<input type="button" value="选择方向题" onclick="location.href='<?php echo site_url('index/test/test_add_d') ?>'"">
		<p>已添加题目：</p> 
		<form method="POST" action="<?php echo site_url('index/student/stu_add') ?>">
		<table id="tab1" border="1" width="500" cellspacing="0">
		<thead>
			<td>试卷编号</td>
			<td>基础题</td>
			<td>方向题</td>
			<td>编辑</td>
		</thead>
			<tbody>
			
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="<?php echo site_url('index/student/stu_mod') ?> " style="color: #8B636C ">重新编辑</a></td>
			</tr>
		</tbody>
	</table>
		</form>
		<br>
			<input type="submit" value="确认出题" name="" >
		</div>
		</form>
	</div>

	

</form>
</body>
</html>