<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>成绩统计 -@ACAT</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/grade.css">

</head>
<body>
	<div class="logo">
        <img src="<?php  echo base_url() .'style/index/' ?>images/home/logo.png">
    </div>
     <div class="nav1">
	     <input type="submit" value="返回上一层" onclick="location.href='<?php echo site_url('index/grade') ?>'">

	     <input type="submit" value="返回主页面" onclick="location.href='<?php echo site_url('index/home') ?>'">

	</div> 
	<div class="nav">
	<form method="post" action="<?php echo site_url('index/grade/sel') ?>">
	组别:
	<select name="type">
	<option value ="0">-</option>
	  <option value ="1">PHP</option>
	  <option value ="2">前端</option>
	  <option value="3">JAVA</option>
	  <option value="4">Python</option>
	</select>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	专业班级：<input type="text" name="major" style="width:70px;" >
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	姓名：<input type="text" name="name" style="width:70px;">

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input id="btn1" type="submit" value="查找">
	<br><br>
	<table id="tab1" border="1" width="500" cellspacing="0" >
	<thead>
			<td>名次</td>
			<td>学号</td>
			<td>姓名</td>
			<td>专业班级</td>
			<td>方向</td>
			<td>基础题得分</td>
			<td>方向题得分</td>
			<td>总分</td>
			<td>批阅者</td>
		</thead>
		

		 		<?php  foreach($grades as $item): ?>
		 	<tr>
		 		<td></td>
				<td><?php echo $item['stu_id'] ?></td>
				<td><?php echo $item['stu_name'] ?></td>
				<td><?php echo $item['stu_major'] ?></td>
				<td><?php echo $item['stu_group'] ?></td>
				<td><?php echo $item['base_grade'] ?></td>
				<td><?php echo $item['dir_grade'] ?></td>
				<td><?php echo $item['grade'] ?></td>
				<td><?php echo $item['correct_ad'] ?></td>
			</tr>
		<?php endforeach;?>
		</tbody>
		</form>
	</table>
	</div>
	

</body>
</html>