<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改试卷</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/text-mod.css">
	<script type="text/javascript" src="./js/text-mod.js"></script>
</head>
<body>
	</div>
	</div>
	<div >
		<img class="navImg" src="https://pic.ibaotu.com/00/51/82/67B888piC8fN.jpg-0.jpg!ww700" width="200px" height="60px">
	</div>
	<div class="nav">
	请输入试卷编号:<input id="name" type="text" />
	<input id="btn1" type="button" value="查找">
	<table id="tab1" border="1" width="500">
		<thead>
			<td>试卷类型</td>
			<td>所含题号</td>
			<td>批阅情况</td>
			<td>创建新试卷</td>
			<td>操作</td>
			<td>操作</td>
		</thead>
		<tbody>
			<tr>
				<td>A卷</td>
				<td>12</td>
				<td>完成批阅</td>
				<td>创建</td>
				<td>编辑</td>
				<td>删除</td>
			</tr> 

			<tr>
				<td>A卷</td>
				<td>12</td>
				<td>完成批阅</td>
				<td>创建</td>
				<td>编辑</td>
				<td>删除</td>
			</tr>
			<tr>
				<td>A卷</td>
				<td>12</td>
				<td>完成批阅</td>
				<td>创建</td>
				<td>编辑</td>
				<td>删除</td>
			</tr>
			<tr>
				<td>A卷</td>
				<td>12</td>
				<td>完成批阅</td>
				<td>创建</td>
				<td>编辑</td>
				<td>删除</td>
			</tr>
			<tr>
				<td>A卷</td>
				<td>12</td>
				<td>完成批阅</td>
				<td>创建</td>
				<td>编辑</td>
				<td>删除</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="bt">
	    <input type="button" value="返回" onclick="javascript:history.back();" style="color: green;font-size: 1.5em;"> 
	</div>

	
</body>
</html>